.THIS.body {
    margin: 0px;
    background: orange;
}

.THIS .bold{
    font-weight: bold;
}

.THIS .narrow, .THIS.narrow{
    width: 10%;
}

.THIS .col1{
    color: blue;
}

.THIS .col2{
    color: black;
}

.THIS .col3{
    color: seagreen;
}

.THIS .col4{
    color: saddlebrown;
    background: lightgray;
}

.THIS.hidden, .THIS .hidden{
    display: none;
}

.THIS.inline, .THIS .inline{
    display: inline !important;
}
.THIS .fixed{
    position: fixed;
}

.THIS.floatmenu, .THIS .floatmenu{
    position: fixed;
    top: 200px;
    left: 0%;
    margin-left: 10px; 
    width: 110px;
    opacity: 0.1;
    background: lightgray;
}

.THIS .blackbutton, .THIS.blackbutton{
    background-color: black;
    color: white;
}
/*
.THIS .floatmenu .content{
    display:none;
}

.THIS .floatmenu:hover .content{
    display:block;
}*/

.THIS .floatmenu:hover{
    opacity: 1.0;
}

.THIS .fillerdiv{
    width: 0px;
}

.THIS .clickable{
    background: repeating-linear-gradient(
        45deg,
        white,
        antiquewhite 10px,
        floralwhite 10px,
        papayawhip 20px
    );
}

.THIS .modalcontainer{
    height: 120%;
}