.THIS {
}
.THIS.table1 {
    border-spacing: 0;
    border-color: #ccc;
    border-left: 1px solid #d8dde6;    
    border-right: 1px solid #d8dde6;
}

.THIS.exampleHolder {  
  z-index: 10000;
  position: fixed;   
}
.THIS.quadrant{
margin-bottom:10px;
}