.THIS {
}
.THIS .file {
    margin-bottom: 5px;
    display: block;
}
.THIS.table1 {
    border-spacing: 0;
    border-color: #ccc;
    border-left: 1px solid #d8dde6;    
    border-right: 1px solid #d8dde6;
}
.THIS.title1 {
    font-weight: bold;
    color: black;
}